body {
  /* background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;*/

  /*color, image, repeat, position, size*/
  background: var(--background) no-repeat top center/cover;
  height: 100vh;
  overflow: hidden;
}

:root {
  --cor: white;
  --background: url(./assets/bg-mobile.jpg);
  --border: rgba(255, 255, 255, 0.5);
  --background-caixa: rgba(255, 255, 255, 0.04);
  --social: rgba(255, 255, 255, 0.2);
  --switch: url(./assets/moon-stars.svg);
  --oculos: -400px;
  --transição: none;
  --background-caixa-borrao: rgba(255, 255, 255, 0.1);
}

.light {
  --cor: black;
  --background: url(./assets/bg-mobile-light.jpg);
  --border: rgba(0, 0, 0, 0.5);
  --background-caixa: rgba(0, 0, 0, 0.1);
  --social: rgba(0, 0, 0, 0.2);
  --switch: url(./assets/sun.svg);
  --oculos: -10px;
  --oculos2: -95px;
  --transição: all 0.2s;
  --background-caixa-borrao: rgba(0, 0, 0, 0.15);
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--cor);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#container {
  width: 360px;
  margin: auto;
  padding: 24px 24px;
  margin-top: 56px;
}

/*profile*/
#profile {
  position: relative;
}

#profile img#perfil {
  width: 140px;
  display: block;
  margin: auto;
  /*border: 2px solid;*/
  margin-top: 24px;
  border-radius: 50%;
  border: 3px solid var(--border);
}

#profile img#oculos {
  width: 150px;
  display: block;
  position: absolute;
  z-index: 3;
  top: var(--oculos);
  right: 80px;
  transition: var(--transição);
}

#profile img#oculos:hover {
  width: 245px;
  display: block;
  position: absolute;
  top: var(--oculos2);
  z-index: 3;
  right: 32px;
  padding: 50px;
}

#profile p {
  text-align: center;
  font-weight: 500;
  line-height: 24px;
  margin: 24px;
  margin-top: 8px;
}

ion-icon#coração {
  /* height: auto; */
  margin: -1.5px;
}

/*switch*/
#switch {
  position: relative;
  height: 40px;
  width: 64px;
  margin: 0 auto;
  /*border: 1px solid white;*/
  padding: 16px 0px;
}

#button1 {
  /*border: 1px solid green;*/
  padding: 16px;
  position: absolute;
  z-index: 2;
  transform: translateY(-50%);
  top: 50%;
  left: 0px;
  border-radius: 50%;
  transition: all 0.2s;
}

#button1:hover {
  /*background: var(--social);*/
  outline: 10px solid var(--background-caixa);
}

.light #button1 {
  right: 0;
  left: 32px;
}

#switch button {
  height: 32px;
  width: 32px;
  border: 0;
  border-radius: 50%;
  background: white no-repeat center;
  background-image: var(--switch);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  transition: all 0.2s;
}

.light #switch button {
  right: 0;
  left: 32px;
}

#switch span {
  display: block;
  height: 24px;
  width: 64px;
  background: var(--background-caixa);
  border: 1px solid var(--border);
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  transition: all 0.5s;
}

/*ul*/
ul {
  list-style: none;
  padding: 24px 24px 12px 24px;
}

ul li a {
  text-align: center;
  display: block;
  padding: 16px;
  margin: 12px;
  margin-left: 0;
  margin-right: 0;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--border);
  border-radius: 10px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.25s;
}

ul li a:hover {
  background: var(--background-caixa);
  border: 1.5px solid var(--cor);
}

/*social links*/
#social-links {
  text-align: center;
  padding: 17.5px;
}

#social-links ion-icon {
  height: 24px;
  width: 24px;
  /*ou font-size: 24px;*/
  padding: 16px 15px 16px 15px;
  transition: background 0.3s;
  border-radius: 50%;
}

#social-links ion-icon:hover {
  background: var(--social);
}

#social-links a {
  text-decoration: none;
}

/*legenda*/
footer {
  text-align: center;
  padding: 24px;
  font-size: 14px;
}

/*media queries*/
@media (min-width: 700px) {
  :root {
    --background: url(./assets/bg-desktop.jpg);
    #borrao {
      border-radius: 50%;
      height: 750px;
      width: 750px;
      bottom: 750px;
      right: 0;
      margin: auto;
      position: relative;
      z-index: -10;
      backdrop-filter: blur(10px);
      background: rgba(255, 255, 255, 0.05);
      box-shadow: 4px 4px 4px 4px var(--background-caixa-borrao);
    }
  }

  .light {
    --background: url(./assets/bg-desktop-light.jpg);
    #borrao {
      border-radius: 50%;
      height: 750px;
      width: 750px;
      bottom: 750px;
      right: 0;
      margin: auto;
      position: relative;
      z-index: -10;
      backdrop-filter: blur(10px);
      background: rgba(0, 0, 0, 0.07);
      box-shadow: 5px 5px 5px 5px var(--background-caixa-borrao);
    }
  }
  /*legenda*/
  footer {
    text-align: center;
    padding: 24px;
    font-size: 14px;
    top: -9px;
  }
}
